*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}
body{
    font-family:"poppins" sans-serif;
    --color1: black;
    --color2: white;
    background-image: url(images/cold.webp);
}
.nav-bar{
    width: 100%;
    height: 7vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style: none;
    position: relative;
    background-color: var(--color2);
    padding: 12px 220px; 
    position: fixed;
    background-image: url(images/cold.webp);
}      
.logo img{
    width: 120px;
    margin-left: -45%;
} 
.menu{display: flex;}
.menu li{padding-left: 35px;}
.menu li a{
    display: inline-block;
    text-decoration: none;
    color: var(--color1);
    text-align: center ;
    transition: 0.15s ease-in-out;
    position: relative;
}
.menu li a::after{
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    width: 0;
    height: 1px;
    background-color: var(--color1);
    transition: 0.15s ease-in-out;
}
.menu{
    align-items: center;
    font-size: 19.9px;
    padding: 13%;
    position: absolute;
    margin-top: 3px;
}
.menu i:hover{
    color: #0079ff;
}
.menu li i{
    color: white;
}
.menu li{
    margin-left: 23px;
    justify-content: center;
  
}
 li button{
    padding: 3px;
    margin-left: 30%;
    text-align: center;
     margin-top: 3%;
     border-radius: 40px;
     margin-right: 90%;
     color: black;
     font-size: 14px;
 font-family: 'Rubik', sans-serif;
 background-color: rgb(248, 0, 215);
 border-radius: 20px;
    border: 2px solid rgb(1, 0, 2);
    box-shadow: 2px 2px 3px rgb(255, 0, 128);
    width: 145%;
    height: 6vh;
 }
 li button:hover{
    background-color: rgb(68, 1, 59);
    color: white;
    border: 2px solid rgb(1, 0, 2);
    box-shadow: 2px 2px 3px rgb(255, 0, 128);
 }
 .menu h3{
    color: white;
    margin-right: 15px;
    font-size: 16px;
    padding: 30px;
    margin-top: 1%;
    /* position: absolute; */
 }
 .menu h3:hover{
    color: #0079ff;
 }
.menu li a:hover:after{width: 100%;}
.open-menu, .close-menu{
    position: absolute;
    color: var(--color1);
    cursor: pointer;
    font-size: 1.5rem;
    display:none;
}
.open-menu{
    top: 50%;
    right: 20px;
    transform:translateY(-50%);
}
.close-menu{
    top:20px;
    right:20px;
}
#check {display:none;}
@media(max-width: 900px){
    .menu{
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 80%;
        height: 100vh;
        position: fixed;
        top: 0;
        right: -100%;
        z-index: 100;
        background-color: var(--color2);
        transition: all 0.2s ease-in-out;
    }

.menu li{margin-top:40px;}
.menu li a{padding:10px;}
.open-menu , .close-menu{display: block;}
#check:checked ~ .menu{right:0;}
}
.container1{
    display: grid;
    height: 100vh;
    width: 100%;
    background-image: url(images/cold.webp);
}
.container1 img{ 
    height: 80vh;
    width: 60%;
    margin-top: 8%;
    margin-left: 35%;
    border-radius: 10px;
}
.container1 img:hover{
    transition: 1s;
    transform: scale(1.01);
}
.container1 h1{
    width: 35%;
    margin-top: -30%;
    font-size: 60px;
    margin-left: 4%;
    font-family: "Lufga", sans-serif;
}
.container1 h1{
    color: #453d3d;
}
.parallax {
    background-image: url(images/f24.png); /* Replace 'parallax-background.jpg' with your actual image */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 70vh; /* Adjust height as needed */
    /* Add other styling as needed */
}
.container2{
    height: 100vh;
    width: 100%;
    display: grid;
}
#float{
    width: 60%;
    height: 80vh;
    margin-left: 35%;
    margin-top: 5%;
}
#float:hover{
    transition: 1s;
    transform: scale(1.01);
}
.container2 h1{
    width: 20%;
    margin-top: -36%;
    font-size: 45px;
    margin-left: 4%;
    color: #453d3d;
    font-family: "Lufga", sans-serif;
}
#dk{
    text-align: center;
    padding-left: 20%;
    margin: 4%;
    width: 70%;
    font-family: "Lufga", sans-serif;
}
.container3{
    height: 100vh;
    width: 100%;
    display: grid;
}
.box1 img{
    display: grid;
    grid-template-columns: repeat(2,200px);
    font-size: 80px;
    height: 50vh;
    float: left;
    width: 19.6%;
    margin-top: 5%;
}
.box1 img:hover{
    transition: 1s;
    transform: scale(1.06);
}
.box2 img{
    display: grid;
    height: 10vh;
    float: left;
    width: 11%;
    align-items: center;
    justify-content: center;
    padding: 4px;
    margin-left: 8%;
    margin-top: -1%;
}
.box2 img:hover{
    transition: 1s;
    transform: scale(1.06);
}
.container4{
    height: 100vh;
    width: 100%;
    display: grid;
}
.box3 img{
    display: grid;
    height: 50vh;
    float: left;
    width: 20%;
    padding: 20px;
    grid-template-columns: 200px 1fr 200px;
    border: 2px solid rgb(241, 89, 195);
    margin-left: 50px;
    border-radius: 20px;
}
.box3 img:hover{
    transition: 1s;
    transform: scale(1.06);
}
.box3 button{
    text-align: center;
    padding:13px;
    /* float: left; */
    /* margin-top: -30%; */
    /* margin-left: 45%; */
    width: 15%;
    border-radius: 23px;
    background-color: rgb(248, 0, 215);
    margin-top: 3%;
    border: 2px solid rgb(1, 0, 2);
    box-shadow: 2px 2px 3px rgb(255, 0, 128);
    font-family: "Lufga", sans-serif;
    margin:20px;
    margin-left: 43%;
    font-size: 15px;
    /* height: 7vh; */
}
.box3 button:hover{
    background-color: rgb(68, 1, 59);
    color: white;
    border: 2px solid rgb(1, 0, 2);
    box-shadow: 2px 2px 3px rgb(255, 0, 128);
}
.box3 h1{
    text-align: center;
    font-size: 40px;
}
.box3 h1{
    color: #453d3d;
    font-family: "Lufga", sans-serif;
}
#f99{
    width: 60%;
    height: 95vh;
    border: 0cap;
    /* float: left; */
    /* padding: 20px; */
    align-items: center;
    justify-content: center;
    margin-left: 35%;
    border-radius: 30px;
}
#f99:hover{
    transition: 1s;
    transform: scale(1.01);
    border-radius: 30px;
}
.box3 h2{
    width: 30%;
    margin-top: -30%;
    font-size: 49px;    
    color: #453d3d;
    font-family: "Lufga", sans-serif;
    text-align: center;
    float: left;
}
#f110{
    width: 60%;
    height: 80vh;
    border: 0cap;
    float: left;
    padding: 20px;
    align-items: center;
    justify-content: space-evenly;
    margin-left: 35%;
    border-radius: 30px;
}
#f110:hover{
    transition: 1s;
    transform: scale(1.01);
    border-radius: 30px;
}
#f130{
    width: 30%;
    height: 74vh;
    border: 0cap;
    padding: 25px;
    margin:3%;
    margin-top: -35%;
    border-radius: 30px;
}
#f130:hover{
    transition: 1s;
    transform: scale(1.01);
    border-radius: 30px;
}
.footer {
    background-image: url(images/footer.jpg);
    color: black;
    padding: 50px 0;
}

.footer h3 {
    color: black;
    font-size: 23px;
}

.footer p {
    color: black;
    font-size: 20px;
}
.footer p:hover{
    color: #7700ff;
}

.footer ul {
    list-style: none;
    padding: 0;
}

.footer ul li {
    margin-bottom: 10px;
}

.footer ul li a {
    color: black;
    text-decoration: none;
}

.footer ul li a:hover {
    color: #7700ff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-md-4 {
    width: 33.3333%;
    padding: 0 15px;
    box-sizing: border-box;
}
.footer1{
    align-items: center;
    display: grid;
    grid-template-columns: repeat(5,100px);
    font-size: 40px;
    float: left;
    justify-content: center;
    text-align: center;
    padding-left: 30%;
}
.footer1 i:hover{
    transition: 1s;
    transform: scale(1.3);
}
@media(max-width:1075px){
    .container1 h1 {
        width: 35%;
        margin-top: -32%;
        font-size: 59px;
        margin-left: 1%;
        font-family: "Lufga", sans-serif;
    }
    .container2 h1 {
        width: 29%;
        margin-top: -36%;
        font-size: 45px;
        margin-left: 4%;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
    }
    #dk {
        text-align: center;
        padding-left: 20%;
        margin: 3%;
        width: 85%;
        font-family: "Lufga", sans-serif;
    }
    #f130 {
        margin-top: -39%;
    }
    #f99 {
        width: 62%;
        height: 97vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        border-radius: 30px;
    }
    .box3 h2 {
        width: 30%;
        margin-top: -40%;
        font-size: 49px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
    }
    .nav-bar {
        width: 100%;
        height: 7vh;
        display: flex;
        justify-content: space-between;
        align-items: center;
        list-style: none;
        position: relative;
        background-color: var(--color2);
        padding: 21px 149px;
        position: fixed;
        background-image: url(images/cold.webp);
    }
    .menu {
        align-items: center;
        font-size: 17.9px;
        padding: 13%;
        position: absolute;
        margin-top: 3px;
    }
    li button {
        padding: 3px;
        margin-left: 30%;
        text-align: center;
        margin-top: 3%;
        border-radius: 40px;
        margin-right: 90%;
        color: black;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        background-color: rgb(248, 0, 215);
        border-radius: 20px;
        border: 2px solid rgb(1, 0, 2);
        box-shadow: 2px 2px 3px rgb(255, 0, 128);
        width: 116%;
        height: 6vh;
    }
    .menu {
        align-items: center;
        font-size: 17.9px;
        padding: 6%;
        position: absolute;
        margin-top: 3px;
    }
}
@media(max-width:1050px){
    .container1 h1 {
        width: 34%;
        margin-top: -32%;
        font-size: 59px;
        margin-left: 1%;
        font-family: "Lufga", sans-serif;
    }
    .container2 h1 {
        width: 30%;
        margin-top: -40%;
        font-size: 44px;
        margin-left: 4%;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
    }
    .box3 img {
        display: grid;
        height: 50vh;
        float: left;
        width: 20%;
        padding: 20px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 47px;
        border-radius: 20px;
    }
    .box3 h1 {
        text-align: center;
        font-size: 38px;
    }
    #f130 {
        margin-top: -38%;
    }
    #f99 {
        width: 64%;
        height: 97vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        border-radius: 30px;
    }
    #f130 {
        width: 32%;
        height: 74vh;
        border: 0cap;
        padding: 25px;
        margin: 3%;
        margin-top: -35%;
        border-radius: 30px;
    }
}
@media(max-width:1000px){
    .container1 h1 {
        width: 34%;
        margin-top: -33%;
        font-size: 58px;
        margin-left: 1%;
    }
    .container2 h1 {
        width: 30%;
        margin-top: -40%;
        font-size: 42px;
        margin-left: 4%;
    }
    #dk {
        font-size: 38px;
    }
    .box1 img {
        height: 46vh;
    }
    .box2 img {
        height: 12vh;
    }
    .box3 img {
        height: 48vh;
        margin-left: 44px;
    }
    .box3 h1 {
        text-align: center;
        font-size: 37px;
    }
    .footer1 {
        font-size: 39px;
        padding-left: 24%;
    }
    #f130 {
        margin-top: -40%;
    }
    #f99 {
        width: 65%;
        height: 97vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        border-radius: 30px;
    }
    .box3 h2 {
        width: 30%;
        margin-top: -43%;
        font-size: 47px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
    }
}
@media(max-width:950px){
    .container1 h1 {
        width: 34%;
        margin-top: -36%;
        font-size: 57px;
        margin-left: 1%;
    }
    .container2 h1 {
        width: 30%;
        margin-top: -42%;
        font-size: 41px;
        margin-left: 4%;
    }
    .box1 img {
        height: 44vh;
    }
    .box3 img {
        height: 46vh;
        margin-left: 41px;
    }
    .box3 h1 {
        text-align: center;
        font-size: 35px;
    }
    #f130 {
        margin-top: -41%;
    }
    #f99 {
        width: 65%;
        height: 95vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        border-radius: 30px;
    }
    li button {
        padding: 3px;
        margin-left: 11%;
        text-align: center;
        margin-top: 3%;
        border-radius: 40px;
        margin-right: 90%;
        color: black;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        background-color: rgb(248, 0, 215);
        border-radius: 20px;
        border: 2px solid rgb(1, 0, 2);
        box-shadow: 2px 2px 3px rgb(255, 0, 128);
        width: 116%;
        height: 6vh;
    }
    #f130 {
        width: 33%;
        height: 74vh;
        border: 0cap;
        padding: 25px;
        margin: 3%;
        margin-top: -35%;
        border-radius: 30px;
    }
    .menu {
        align-items: center;
        font-size: 17.9px;
        padding: 3%;
        position: absolute;
        margin-top: 3px;
    }
    .logo img {
        width: 120px;
        margin-left: -83%;
    }
}
@media(max-width:900px){
    .container1 h1 {
        width: 34%;
        margin-top: -40%;
        font-size: 55px;
        margin-left: 1%;
    }
    .container2 h1 {
        width: 31%;
        margin-top: -44%;
        font-size: 40px;
        margin-left: 4%;
    }
    #dk {
        font-size: 36px;
    }
    .box1 img {
        height: 42vh;
    }
    .box2 img {
        height: 13vh;
    }
    .box3 img {
        height: 41vh;
        margin-left: 38px;
        padding: 12px;
    }
    .box3 h1 {
        text-align: center;
        font-size: 33px;
    }
    #f130 {
        margin-top: -47%;
    }
    .box3 button {
        padding: 4px;
        width: 15%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 15px;
        height: 7vh;
    }
    #f99 {
        width: 65%;
        height: 92vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        border-radius: 30px;
    }
    .box3 h2 {
        width: 30%;
        margin-top: -45%;
        font-size: 46px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
    }
    #f110 {
        width: 64%;
        height: 80vh;
        border: 0cap;
        float: left;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 35%;
        border-radius: 30px;
    }
    li button {
        padding: 3px;
        margin-left: -5%;
        text-align: center;
        margin-top: 3%;
        border-radius: 40px;
        margin-right: 90%;
        color: black;
        font-size: 14px;
        font-family: 'Rubik', sans-serif;
        background-color: rgb(248, 0, 215);
        border-radius: 20px;
        border: 2px solid rgb(1, 0, 2);
        box-shadow: 2px 2px 3px rgb(255, 0, 128);
        width: 116%;
        height: 6vh;
    }
    .logo img {
        width: 120px;
        margin-left: -108%;
    }
}
@media(max-width:850px){
    .box3 img {
        height: 39vh;
        margin-left: 35px;
        padding: 7px;
    }
    .box3 h1 {
        text-align: center;
        font-size: 31px;
    }
    .container1 h1 {
        width: 34%;
        margin-top: -42%;
        font-size: 53px;
        margin-left: 1%;
    }
    .container2 h1 {
        width: 31%;
        margin-top: -46%;
        font-size: 39px;
        margin-left: 4%;
    }
    #dk {
        font-size: 35px;
    }
    .box1 img {
        height: 40vh;
    }
    .box3 button {
        padding: 4px;
        width: 16%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 15px;
        height: 7vh;
    }
    #f99 {
        width: 65%;
        height: 91vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        border-radius: 30px;
    }
    .box3 h2 {
        width: 33%;
        margin-top: -45%;
        font-size: 46px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
    }
}
@media(max-width:800px){
    .container1 h1 {
        width: 35%;
        margin-top: -45%;
        font-size: 50px;
        margin-left: 1%;
    }
    .container1 img {
        height: 78vh;
        width: 62%;
        margin-top: 8%;
        margin-left: 35%;
        border-radius: 10px;
    }
    .container1 {
        display: grid;
        height: 97vh;
        width: 100%;
        background-image: url(images/cold.webp);
    }
    .parallax {
        background-image: url(images/f24.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 68vh;
    }
    #float {
        width: 62%;
        height: 77vh;
        margin-left: 35%;
        margin-top: 5%;
    }
    .container2 h1 {
        width: 31%;
        margin-top: -49%;
        font-size: 37px;
        margin-left: 4%;
    }
    #dk {
        font-size: 33px;
    }
    #float {
        width: 64%;
        height: 77vh;
        margin-left: 35%;
        margin-top: 5%;
    }
    .box1 img {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        font-size: 80px;
        height: 50vh;
        float: left;
        width: 29.6%;
        margin-top: 5%;
        margin-left: 3%;
    }
    .box2 img {
        /* display: grid; */
        height: 14vh;
        /* float: left; */
        width: 16%;
        align-items: center;
        justify-content: center;
        padding: 4px;
        margin-left: 14%;
        margin-top: -1%;
    }
    .box3 img {
        display: grid;
        height: 55vh;
        width: 39%;
        padding: 20px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 32px;
    }
    .container3{
        height: 140vh;
    }
    #f99 {
        width: 65%;
        height: 89vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 35%;
        border-radius: 30px;
    }
    .box3 h2 {
        width: 36%;
        margin-top: -54%;
        font-size: 44px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
    }
    #f130 {
        margin-top: -58%;
        width: 34%;
    }
    .footer1 {
        font-size: 40px;
        padding-left: 16%;
    }
}
@media(max-width:750px){
    .container1 h1 {
        width: 35%;
        margin-top: -48%;
        font-size: 47px;
        margin-left: 1%;
    }
    .container1 img {
        height: 78vh;
        width: 65%;
        margin-top: 8%;
        margin-left: 33%;
        border-radius: 10px;
    }
    .container2 h1 {
        width: 31%;
        margin-top: -51%;
        font-size: 34px;
        margin-left: 1%;
    }
    #float {
        width: 67%;
        height: 75vh;
        margin-left: 31%;
        margin-top: 5%;
    }
    #dk {
        font-size: 31px;
    }
    .box3 img {
        display: grid;
        height: 55vh;
        width: 39%;
        padding: 16px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 34px;
    }
    .box3 button {
        padding: 4px;
        width: 18%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 15px;
        height: 7vh;
    }
    .box3 h1 {
        text-align: center;
        font-size: 29px;
    }
    #f99 {
        width: 67%;
        height: 86vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 33%;
        border-radius: 30px;
    }
    .box3 h2 {
        width: 36%;
        margin-top: -55%;
        font-size: 43px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
    }
    #f130 {
        margin-top: -62%;
        width: 36%;
    }
    .footer {
        background-image: url(images/footer.jpg);
        color: black;
        padding: 39px 0;
    }
    .footer1 {
        font-size: 40px;
        padding-left: 14%;
    }
}
@media(max-width:700px){
    .container1 h1 {
        width: 29%;
        margin-top: -50%;
        font-size: 44px;
        margin-left: 1%;
    }
    .container1 img {
        height: 78vh;
        width: 66%;
        margin-top: 10%;
        margin-left: 32%;
        border-radius: 10px;
    }
    .container2 h1 {
        width: 31%;
        margin-top: -52%;
        font-size: 33px;
        margin-left: 1%;
    }
    #float {
        width: 68%;
        height: 68vh;
        margin-left: 31%;
        margin-top: 5%;
    }
    #dk {
        font-size: 29px;
    }
    .box2 img {
        /* display: grid; */
        height: 14vh;
        /* float: left; */
        width: 16%;
        align-items: center;
        justify-content: center;
        padding: 1px;
        margin-left: 14%;
        margin-top: -1%;
    }
    .box3 button {
        padding: 4px;
        width: 19%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 14px;
        height: 7vh;
    }
    .box3 h1 {
        text-align: center;
        font-size: 27px;
    }
    #f99 {
        width: 68%;
        height: 86vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 32%;
        border-radius: 30px;
    }
    .box3 h2 {
        width: 35%;
        margin-top: -55%;
        font-size: 41px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
    }
    #f130 {
        margin-top: -65%;
        width: 39%;
        height: 71vh;
    }
    #f110 {
        width: 65%;
        height: 78vh;
        border: 0cap;
        float: left;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 35%;
        border-radius: 30px;
    }
    .footer {
        background-image: url(images/footer.jpg);
        color: black;
        padding: 33px 0;
    }
    .footer1 {
        font-size: 40px;
        padding-left: 11%;
    } 
}
@media(max-width:650px){
    .container1 {
        display: grid;
        height: 108vh;
        width: 100%;
        background-image: url(images/cold.webp);
    }
    .container1 h1 {
        width: 69%;
        margin-top: -2%;
        font-size: 42px;
        margin-left: 11%;
    }
    .container1 img {
        height: 72vh;
        width: 86%;
        margin-top: 10%;
        margin-left: 8%;
        border-radius: 10px;
    }
    .parallax {
        background-image: url(images/f24.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 62vh;
    }
    .container2 h1 {
        width: 63%;
        margin-top: 1%;
        font-size: 32px;
        margin-left: 15%;
    }
    #float {
        width: 82%;
        height: 68vh;
        margin-left: 10%;
        margin-top: 5%;
    }
    .container2 {
        height: 112vh;
        width: 100%;
        display: grid;
    }
    #dk {
        font-size: 26px;
    }
    .box1 img {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        font-size: 80px;
        height: 45vh;
        float: left;
        width: 29.6%;
        margin-top: 5%;
        margin-left: 3%;
    }
    .box3 img {
        display: grid;
        height: 55vh;
        width: 38%;
        padding: 7px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 34px;
    }
    .box3 button {
        padding: 4px;
        width: 19%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 13px;
        height: 6vh;
    }
    .box3 h1 {
        text-align: center;
        font-size: 25px;
    }
    .box3 h2 {
        width: 79%;
        margin-top: -4%;
        font-size: 41px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
        padding-left: 73px;
    }
    #f99 {
        width: 87%;
        height: 79vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 7%;
        border-radius: 30px;
    }
    #f110 {
        width: 93%;
        height: 77vh;
        border: 0cap;
        float: left;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 3%;
        border-radius: 30px;
    }
    #f130 {
        margin-top: -11%;
        width: 50%;
        height: 61vh;
        margin-left: 21%;
    }
    .container3{
        height: 120vh;
    }
    .footer1 {
        font-size: 36px;
        padding-left: 8%;
    }
}
@media(max-width:600px){
    .container1 img {
        height: 75vh;
        width: 91%;
        margin-top: 10%;
        margin-left: 6%;
        border-radius: 10px;
    }
    .container1 {
        display: grid;
        height: 115vh;
        width: 100%;
        background-image: url(images/cold.webp);
    }
    #float {
        width: 88%;
        height: 68vh;
        margin-left: 5%;
        margin-top: 5%;
    }
    #dk {
        font-size: 26px;
        width: max-content;
        /* width: 87%; */
        margin-left: -5%;
    }
    .box1 img {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        font-size: 80px;
        height: 42vh;
        float: left;
        width: 29.6%;
        margin-top: 5%;
        margin-left: 3%;
    }
    .box3 img {
        display: grid;
        height: 52vh;
        width: 37%;
        padding: 0px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 34px;
    }
    .box3 h1 {
        text-align: center;
        font-size: 23px;
    }
    #f99 {
        width: 92%;
        height: 80vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 5%;
        border-radius: 30px;
    }
    #f130 {
        margin-top: -9%;
        width: 50%;
        height: 61vh;
        margin-left: 21%;
    }
    .footer {
        background-image: url(images/footer.jpg);
        color: black;
        padding: 16px 0;
    }
    .footer1 {
        font-size: 35px;
        padding-left: 6%;
    }
}
@media(max-width:550px){
    .container1 img {
        height: 79vh;
        width: 95%;
        margin-top: 10%;
        margin-left: 2%;
        border-radius: 10px;
    }
    .container1 {
        display: grid;
        height: 117vh;
        width: 100%;
        background-image: url(images/cold.webp);
    }
    .container1 h1 {
        width: 76%;
        margin-top: -2%;
        font-size: 39px;
        margin-left: 11%;
    }
    .parallax {
        background-image: url(images/f24.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 59vh;
    }
    #float {
        width: 90%;
        height: 69vh;
        margin-left: 5%;
        margin-top: 5%;
    }
    .container2 h1 {
        width: 63%;
        margin-top: 1%;
        font-size: 31px;
        margin-left: 15%;
    }
    .box1 img {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        font-size: 80px;
        height: 37vh;
        float: left;
        width: 29.6%;
        margin-top: 5%;
        margin-left: 3%;
    }
    .box3 img {
        display: grid;
        height: 50vh;
        width: 36%;
        padding: 0px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 34px;
    }
    .box3 button {
        padding: 4px;
        width: 19%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 12px;
        height: 6vh;
    }
    .box3 h1 {
        text-align: center;
        font-size: 21px;
    }
    .box3 h2 {
        width: 79%;
        margin-top: -4%;
        font-size: 40px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
        padding-left: 73px;
    }
    #f110 {
        width: 95%;
        height: 75vh;
        border: 0cap;
        float: left;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
        margin-left: 3%;
        border-radius: 30px;
    }
    .footer {
        background-image: url(images/footer.jpg);
        color: black;
        padding: 9px 0;
    }
    .footer1 {
        font-size: 35px;
        padding-left: 0%;
    }
    .menu {
        align-items: center;
        font-size: 17.9px;
        padding: 3%;
        position: absolute;
        margin-top: 3px;
        height: 112vh;
    }
}
@media(max-width:500px){
    body {
        font-family: "poppins" sans-serif;
        --color1: black;
        --color2: white;
        background-image: url(images/cold.webp);
        width: 111%;
    }
    #float {
        width: 91%;
        height: 69vh;
        margin-left: 5%;
        margin-top: 5%;
    }
    .box2 img {
        /* display: grid; */
        height: 14vh;
        /* float: left; */
        width: 17%;
        align-items: center;
        justify-content: center;
        padding: 1px;
        margin-left: 14%;
        margin-top: -1%;
    }
    .box3 img {
        display: grid;
        height: 46vh;
        width: 36%;
        padding: 0px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 34px;
    }
    .box3 button {
        padding: 4px;
        width: 22%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 13px;
        height: 6vh;
    }
    .box3 h2 {
        width: 79%;
        margin-top: -4%;
        font-size: 38px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
        padding-left: 73px;
    }
    #f130 {
        margin-top: -9%;
        width: 53%;
        height: 63vh;
        margin-left: 21%;
    }
    .menu {
        align-items: center;
        font-size: 17.9px;
        padding: 3%;
        position: absolute;
        margin-top: 3px;
        height: 127vh;
    }
}
@media(max-width:450px){
    body {
        font-family: "poppins" sans-serif;
        --color1: black;
        --color2: white;
        background-image: url(images/cold.webp);
        width: 125%;
    }
    .parallax {
        background-image: url(images/f24.png);
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 54vh;
    }
    #float {
        width: 95%;
        height: 75vh;
        margin-left: 2%;
        margin-top: 5%;
    }
    .box1 img {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        font-size: 80px;
        height: 37vh;
        float: left;
        width: 43.6%;
        margin-top: 11%;
        margin-left: 3%;
    }
    .box2 img {
        /* display: grid; */
        height: 15vh;
        /* float: left; */
        align-items: center;
        justify-content: center;
        padding: 9px;
        margin-left: 14%;
        margin-top: -1%;
        width: 30%;
    }
    .container3{
        height: 180vh;
    }
    .box3 img {
        display: grid;
        height: 55vh;
        width: 51%;
        padding: 0px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 34px;
        margin-left: 26%;
    }
    .box3 button {
        padding: 4px;
        width: 23%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 15px;
        height: 7vh;
    }
    .box3 h1 {
        text-align: center;
        font-size: 20px;
    }
    .box3 h2 {
        width: 86%;
        margin-top: -4%;
        font-size: 37px;
        color: #453d3d;
        font-family: "Lufga", sans-serif;
        text-align: center;
        float: left;
        padding-left: 73px;
    }
    #f110 {
        width: 101%;
        height: 74vh;
        border: 0cap;
        float: left;
        padding: 20px;
        align-items: center;
        justify-content: space-evenly;
        margin-left: -1%;
        border-radius: 30px;
    }
    .menu {
        align-items: center;
        font-size: 22.9px;
        padding: 3%;
        position: absolute;
        margin-top: 3px;
        height: 145vh;
    }
    li button {
        padding: 3px;
        margin-left: -5%;
        text-align: center;
        margin-top: 3%;
        border-radius: 40px;
        margin-right: 90%;
        color: black;
        font-size: 16px;
        font-family: 'Rubik', sans-serif;
        background-color: rgb(248, 0, 215);
        border-radius: 20px;
        border: 2px solid rgb(1, 0, 2);
        box-shadow: 2px 2px 3px rgb(255, 0, 128);
        width: 116%;
        height: 7vh;
    }
}
@media(max-width:400px){
    body {
        font-family: "poppins" sans-serif;
        --color1: black;
        --color2: white;
        background-image: url(images/cold.webp);
        width: 143%;
    }
    .container1 h1 {
        width: 76%;
        margin-top: -2%;
        font-size: 38px;
        margin-left: 11%;
    }
    #float {
        width: 95%;
        height: 72vh;
        margin-left: 2%;
        margin-top: 5%;
    }
    .box1 img {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        font-size: 80px;
        height: 37vh;
        float: left;
        width: 46.6%;
        margin-top: 11%;
        margin-left: 3%;
    }
    .box3 img {
        display: grid;
        height: 56vh;
        width: 53%;
        padding: 0px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 34px;
        margin-left: 26%;
    }
    .box3 button {
        padding: 4px;
        width: 26%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 16px;
        height: 7vh;
    }
    #f99 {
        width: 96%;
        height: 77vh;
        border: 0cap;
        /* float: left; */
        /* padding: 20px; */
        align-items: center;
        justify-content: center;
        margin-left: 2%;
        border-radius: 30px;
    }
    li button {
        padding: 3px;
        margin-left: -5%;
        text-align: center;
        margin-top: 3%;
        border-radius: 40px;
        margin-right: 90%;
        color: black;
        font-size: 18px;
        font-family: 'Rubik', sans-serif;
        background-color: rgb(248, 0, 215);
        border-radius: 20px;
        border: 2px solid rgb(1, 0, 2);
        box-shadow: 2px 2px 3px rgb(255, 0, 128);
        width: 116%;
        height: 8vh;
    }
    .menu {
        align-items: center;
        font-size: 26.9px;
        padding: 3%;
        position: absolute;
        margin-top: 3px;
        height: 166vh;
    }
}
@media(max-width:350px){
    body {
        font-family: "poppins" sans-serif;
        --color1: black;
        --color2: white;
        background-image: url(images/cold.webp);
        width: 166%;
    }
    .container2 h1 {
        width: 63%;
        margin-top: 1%;
        font-size: 30px;
        margin-left: 15%;
    }
    #dk {
        font-size: 28px;
        width: max-content;
        /* width: 87%; */
        margin-left: -10%;
        margin-top: 7%;
    }
    .box1 img {
        display: grid;
        grid-template-columns: repeat(2, 200px);
        font-size: 80px;
        height: 52vh;
        float: left;
        width: 59.6%;
        margin-top: 11%;
        margin-left: 21%;
    }
    .box2 img {
        /* display: grid; */
        height: 18vh;
        /* float: left; */
        align-items: center;
        justify-content: center;
        padding: 5px;
        margin-left: 14%;
        margin-top: -1%;
        width: 34%;
    }
    .container3{
        height: 360vh;
    }
    .box3 img {
        display: grid;
        height: 59vh;
        width: 56%;
        padding: 0px;
        grid-template-columns: 200px 1fr 200px;
        border: 2px solid rgb(241, 89, 195);
        margin-left: 50px;
        border-radius: 20px;
        margin: 34px;
        margin-left: 26%;
    }
    .box3 button {
        padding: 4px;
        width: 29%;
        margin-top: 3%;
        margin: 20px;
        margin-left: 43%;
        font-size: 18px;
        height: 7vh;
    }
    .menu {
        align-items: center;
        font-size: 32.9px;
        padding: 3%;
        position: absolute;
        margin-top: 3px;
        height: 200vh;
    }
    li button {
        padding: 3px;
        margin-left: -5%;
        text-align: center;
        margin-top: 3%;
        border-radius: 40px;
        margin-right: 90%;
        color: black;
        font-size: 19px;
        font-family: 'Rubik', sans-serif;
        background-color: rgb(248, 0, 215);
        border-radius: 20px;
        border: 2px solid rgb(1, 0, 2);
        box-shadow: 2px 2px 3px rgb(255, 0, 128);
        width: 116%;
        height: 9vh;
    }
}
@media(max-width:300px){
    body {
        font-family: "poppins" sans-serif;
        --color1: black;
        --color2: white;
        background-image: url(images/cold.webp);
        width: 200%;
    }
}